# Virtual environment
venv/
.venv/
env/

# Apps locales
*.AppImage

# Project data (videos, images, COLMAP outputs)
data/*
!data/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.egg/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
